.try-navbar{
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
}

  .flex-1 {
    flex: 1;
  }
  
  .flex-none {
    flex: none;
  }
  
  .navbar-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-menu li {
    margin-left: 10px;
  }
  
  
  
  @media screen and (max-width: 767px) {
    .navbar-menu {
      display: none;
      position: absolute;
      
    }}